/* STYLE SHEET */
/*
COLORS

#c94a00 orange
#a13b00 dark orange
#ec5e28 bright orange
#252321 grey almost black 

FONTS
---
h1 - 
h2 - 
h3
h4
h5
h6
body - 
header - 

/** GLOBAL STYLING  **/

/* ======================================= */

/* Box Model fix */

html {box-sizing: border-box;}
	
*, *:before, *:after {box-sizing: inherit;}

/* ======================================= */

/* clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


/* ======================================= */

/* Typography */

	body {
		font-family: 'Roboto', sans-serif;
	}

	p {
	}

	h2 {
	}

	a {
	}

/* ======================================= */

/* header  ===   
uses classes: 
uses IDs: 
uses Combinators: 
	descendants of the 'header' selector
	descendants of the 'header' selector that are <li> lists items and have an id name  

*/

	header {
		background-color: #fffcf5;
	}

	header a {
		text-decoration: none;
		font-weight: 600;
		color: #66615a;
	}

	header ul {
		list-style: none;
		margin: 10px;
	}

	header li {
		float: left;
		margin: 10px 15px 5px 18px;
	}

	header li a {
		text-transform: uppercase;
	}


/* ================================== *//*
HOMEPAGE STYLE GOES NEXT
/* ================================== */ 

/* Homepage Structure  ===   
uses classes: 
uses IDs: 
uses Combinators: 	
*/ 

img {
	width: 400px;
}

.box {
	width: 200px;
	height: 200px;
	overflow: hidden;
	padding-left: 15px;
	padding-bottom: 15px;
}
	
#box1 {
	background-color: pink;
}

#box2 {
	background-color: red;
}

#box3 {
	background-color: firebrick;
}

#box4 {
	background-color: orange;
}

#box5 {
	background-color: yellow;
}

#box6 {
	background-color: lime;
}

#box7 {
	background-color: green;
}

#box8 {
	background-color: blue;
}

#box9 {
	background-color: teal;
}

/* ================================== *//*
INTERIOR STYLE GOES NEXT
/* ================================== */ 

/* Interior Structure  ===   
uses classes: 
uses IDs: 
uses Combinators: 	
*/ 

/* ================================== *//*
FOOTER STYLE GOES NEXT
/* ================================== */ 

/* footer  ===   
uses classes: 
uses IDs: 
uses Combinators: 	
*/ 

footer {
	background-color: #252321;
	color: #a39e93;
}
